* {
    margin: 0;
    font-family: 'Kanit', 'Maven Pro', Helvetica, Arial, sans-serif;
}


#encabezado{
    background-color: #0A91AB;
}

h1 {
    text-align: center;
    color: #FFC045;
    padding: 5%;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    background-color: #FFC045;
    color: #0A91AB;
    padding: 1%;
    font-weight: bold;
}

main {
    background-color: rgb(180, 198, 205);
}

#main {
    width: 80%;
    margin-left: 10%;
    /* background-color: #caebf9; */
}

main div p {
    padding: 10px;
}

.titulos_apartados { 
    display: flex;
    color: #0A91AB;
    font-size: 20px;
    padding: 10px;
}

#texto_videojuegos {
    margin-left: 5%;
    padding-top: 25px;
}

#lista {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 5px;
}

.videojuego {
    background-color: white;
    border: 2px;
    border-style: dashed;
    border-color: #FFC045;
    width: 25%;
    border-radius: 5px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 30%
}

.titulo_videojuego {
    text-align: left;
    color: #FFC045;
    font-size: 16px;
    font-weight: bold;
}

.descripcion {
    font-size: 12px;
    color: #8A8070;
}

.mas_info {
    font-size: 12px;
    width: 24%;
    background-color: #FFC045;
    border: 0;
    border-radius: 5px;
    padding: 3px;
    margin-left: auto;
    margin-top: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

aside {
    display: flex;
    flex-direction: column;
    background-color: rgba(127, 225, 255, 0.349);
    width: 25%;
    margin-left: 5.5%;
    border: 2px dashed black;
    border-radius: 5px;
}

#parte2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

#tips_content {
    font-size: 12px;
}

#noticias {
    
    /* background-color: rgba(127, 225, 255, 0.349); */
    width: 57%;
    margin-left: 65px;
    border-radius: 5px;
}

#lista_noticias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 600px;
}

.noticia {
    background-color: white;
    border: 2px solid #0A91AB;
    width: 44%;
    height: 44%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;   
}

#texo_noticias {
    justify-content: center;
}

.fecha_noticia {
    font-size: 8px;
    font-weight: bold;
    padding: 2px;
}

.resumen_noticia {
    font-size: 10px;
    padding-top: 0;
}

#parte3 {   
    /* background-color: antiquewhite; */
    width: 98%;
    padding: 10px;
    text-align: center;
}

#texto_ranking {
    justify-content: center;
}

#ranking {
    display: flex;
    justify-content: space-evenly;
}

.fotos_personas {
    border-radius: 100px;
}

footer {
    /* background-color: #847c6f; */
    padding: 20px;
}